{% extends 'base.html' %}
{% block end_page %}

<div class="bgimg-1">
    <div class="caption" style="text-align:center">
        <span class="border">Your {{limit}} Images of {{imagename}} will be sent to you at {{time}} </span>
        <span class='border'>{{space}}  </span>
        <span class="border">Only if {{email}} is a valid Mail</span>

      </div>
      <div class="container">
        <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
        </div>
        </div>
        <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">









{% endblock end_page %}